<launch>
  <!-- Include the world launch and set common parameters -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find sc_gazebo_world)/world/Marker_World_V3.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- Define the parameters for the first TurtleBot -->
  <arg name="model1" default="$(env TURTLEBOT3_MODEL1)" doc="model type for TurtleBot 1 [burger, waffle, waffle_pi]"/>
  <arg name="x_pos1" default="0.0"/>
  <arg name="y_pos1" default="0.0"/>
  <arg name="z_pos1" default="0.0"/>
  <arg name="yaw_rotation1" default="0"/> <!-- in radians -->

  <!-- Define the parameters for the second TurtleBot -->
  <arg name="model2" default="$(env TURTLEBOT3_MODEL2)" doc="model type for TurtleBot 2 [burger, waffle, waffle_pi]"/>
  <arg name="x_pos2" default="-0.8"/> <!-- Adjust the position as needed -->
  <arg name="y_pos2" default="0.0"/> <!-- Adjust the position as needed -->
  <arg name="z_pos2" default="0.0"/>
  <arg name="yaw_rotation2" default="0"/> <!-- in radians -->

  <!-- Load the URDF for the first TurtleBot -->
  <param name="robot_description1" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model1).urdf.xacro" />

  <!-- Spawn the first TurtleBot -->
  <node name="spawn_urdf1" pkg="gazebo_ros" type="spawn_model" args="-urdf -model turtlebot3_1 -x $(arg x_pos1) -y $(arg y_pos1) -z $(arg z_pos1) -param robot_description1 -Y $(arg yaw_rotation1)"/>

  <!-- Load the URDF for the second TurtleBot -->
  <param name="robot_description2" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model2).urdf.xacro" />

  <!-- Spawn the second TurtleBot -->
  <node name="spawn_urdf2" pkg="gazebo_ros" type="spawn_model" args="-urdf -model turtlebot3_2 -x $(arg x_pos2) -y $(arg y_pos2) -z $(arg z_pos2) -param robot_description2 -Y $(arg yaw_rotation2)"/>
</launch>
